@font-face {
    font-family: 'Sansation';
    src: local('Sansation Light'), url('../fonts/sansationlight.woff2') format('woff2'), url('../fonts/sansationlight.woff') format('woff'), url('../fonts/sansationlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Sansation';
    src: local('Sansation Light Italic'), url('../fonts/sansationlightitalic.woff2') format('woff2'), url('../fonts/sansationlightitalic.woff') format('woff'), url('../fonts/sansationlightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Sansation';
    src: local('Sansation Regular'), url('../fonts/sansationregular.woff2') format('woff2'), url('../fonts/sansationregular.woff') format('woff'), url('../fonts/sansationregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Sansation';
    src: local('Sansation Italic'), url('../fonts/sansationitalic.woff2') format('woff2'), url('../fonts/sansationitalic.woff') format('woff'), url('../fonts/sansationitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Sansation';
    src: local('Sansation Bold'), url('../fonts/sansationbold.woff2') format('woff2'), url('../fonts/sansationbold.woff') format('woff'), url('../fonts/sansationbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Sansation';
    src: local('Sansation Bold Italic'), url('../fonts/sansationbolditalic.woff2') format('woff2'), url('../fonts/sansationbolditalic.woff') format('woff'), url('../fonts/sansationbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
